.Header{ 
    width: 99%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
 .Header h1{
    font-size: 2rem;
 }
 .Header a{
   color: blue;
   margin-right: 5px;
 }
hr{
    border: 2px solid gray;
}