.Hobbies{ 
    width: 99%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
 .Hobbies h1{
    font-size: 2rem;
 }
 .Hobbies ol li{
    margin-left: 2.5em;
    font-size:1rem;
}
hr{
    border: 2px solid gray;
}